
# tokens to send per request (comma separated), the order must match the auth types
AMOUNTS=800
# log level (debug, info, error)
LOG_LEVEL=info
# private key for the faucet account (must hold tokens)
PRIV_KEY=
# wait period between requests for the same user (default 1h0m0s)
WAIT_PERIOD=10m
# database type to use (pebble for local storage and mongodb for remote)
DB_TYPE=pebble
# base route for the API (default "/v2")
BASE_ROUTE=/v2
# authentication types to use (comma separated). Available: open, oauth
AUTH=open

RESTART=unless-stopped

## For MongoDB only
# MONGODB_URL=mongodb://root:vocdoni@mongo:27017/

## For OAUTH handler only
# FACEBOOK_CLIENT_ID=123456789
# FACEBOOK_CLIENT_SECRET=yourSecretFBClientSecret
# GITHUB_CLIENT_ID=999999999
# GITHUB_CLIENT_SECRET=123abc456def789ghi
